# ===
# === CopyRight 
snippet copyright "Copyright of this file" b
/*=============================================================
* 	Copyright (C) `date +%Y` USTC All rights reserved.
* 	
* 	filename : `!v expand('%:t')`
* 	Author: Wei Jinsong
* 	Mail: vitus@mail.ustc.edu.cn
* 	Date `date +%Y-%m-%d`
* 	Abstract 
* 		${0}
*
=============================================================*/
endsnippet
